body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.charts {
    display: flex;
    justify-content: space-between;
}

.chart {
    height: 400px;
    flex: 0 0 auto;
    width: 30%;
}

.info-map {
    display: flex;
}

.trial-info {
    flex: 1;
    overflow-y: auto;
}

#map {
    flex: 2;
    height: 400px;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px;
    text-align: left;
}